body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

p, ul, li, h1, h2, h3, h4, h5, h6, label, input {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container{
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.title{
    margin-top: 40px;
    color: #47808E;
    font-size: 120px;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.main_img{
    position: relative;
    z-index: -1;
}

.logo_img{
    width: 200px;
    position: absolute;
    top: 40%;
    left: 70%;
    /* z-index: 1; */
}

.title_img{
    display: flex;
    justify-content: center;
}

.desc_img{
    display: inline-block;
    background-color: #CAE5F3;
    color: #2F5773;
    text-transform: uppercase;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 20px 20px 0 0;
    
}

.descriptions{
    margin-top: 40px;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 400;
    color: #505971;
}

.option_wrapper{
    display: flex;
    font-family: 'PT Sans', Arial, sans-serif;
        font-weight: 400;
}

.option_list{}
.option_item{
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 400;
    color: #505971;
    text-decoration: none;
    padding-bottom: 20px;
}
